@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   background: white;
   display: flex;
   flex-flow:column nowrap;
   align-items: center;
   justify-content: center;
}
.main-wrap{
    max-width: 1924px;
    min-width: 320px;
   
  
    
}
/* --------------Header -------------------*/
.header-wrap{
    width: 100%;
    height: auto;
    background-color: rgb(252, 219, 0);
    padding: 0 20px;

    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;


    position: relative;
   
}
header{
    width: 80%;
    height: auto;  
    margin: 50px 0 50px 0 ;  

    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;

    
}

header .header__logo{
    width: 50%;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: flex-start;
}
header .header__logo .logo{
   margin:0 10px 0 0 ;
}
header .header__menu{
    width: 50%;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
}

header .logo-title{
    font-size: 30px;
    font-family: "PTSans";
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 0.667;
     
}
.menu-bar{
    margin: 0 0 -5px  0 ;

    display:none;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;
}
.menu-bar p:hover{
    color: white;
}

.menu-bar i {    
        font-size: 29px;
        font-family: "FontAwesome";
        color: rgb(0, 0, 0);
        margin: 0;
        display: none;
    
}
.menu-bar p{    
        font-size: 22px;
        font-family: "HelveticaNeue";
        color: rgb(1, 1, 1);
        font-weight: bold;
        line-height: 0.909;
        margin: 0 0 0 10px;
        
}
.bar-menu {
    display:none;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;

    background:  rgb(252, 219, 0);
    width: 100%;
    height: auto;
    position: absolute;

    margin: 120px 0 0 0 ;
    padding: 10px 0 0 0;
}
.bar-menu .bar-item{
    text-decoration: none;
    font-size: 22px;
    font-family: "HelveticaNeue";
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 0.909;
    text-align: center;
    width: 100%;

    padding: 20px;


    
}
.bar-menu .bar-item:hover{  
    color:white;  
    background: rgb(241, 241, 82);  
}
.bar-menu .bar-item:active{  
    color:lightgray;    
}
header .menu-item{  
    display: none;
    text-decoration: none;
    font-size: 22px;
    font-family: "HelveticaNeue";
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 0.909;
    
}
header .menu-item:hover{  
    color:white;    
}
header .menu-item:active{  
    color:lightgray;    
}

/* --------------Slider -------------------*/
.slider-wrap{
    width: 100%;
    height: auto;
    background-color: rgb(252, 219, 0);
    padding: 0 20px 50px 20px;

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}
.slider-wrap .slider-all-content{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}
.slider-wrap .slider{
    width: 80%;
    height: auto;   

    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;
}

.slider .slider__content{
    width: 50%;
    display: flex;
    flex-flow:column nowrap;
    align-items: flex-start;
    justify-content: center;
}
.slider__content .content-title{   
    font-size: 32px;
    font-family: "PTSans";
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 1; 
    
      
}
.slider__content .content-text-first{    
    font-size: 20px;
    font-family: "PTSans";
    color: rgb(49, 56, 65);
    line-height: 1.2;        
    /* width: 309px; */
    width: 80%;
    margin: 20px 0 ;

}
.slider__content .content-title-second{  
    font-size: 16px;
    font-family: "Times New Roman";
    color: rgb(85, 85, 85);
    line-height: 1.25;       
    /*width: 363px;    */
    width: 80%;
    margin: 0 0 20px  0 ;
}

.slider .slider__ipad{
    width: 50%;
    height: auto;
    display: none;
}

.slider__ipad .ipad-base{
    background-color: white;
    padding: 50px 15px 50px 15px;
    border-radius: 25px;
    height: 500px;
    width: 350px;
}
.slider__ipad .ipad-display{      
    background-color: black;  
    width: 100%;
   
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center; 
}
.slider__ipad .ipad-display .header__logo{ 
    height: 400px; 

    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;
}
.slider__ipad  .ipad-display .header__logo .logo{
    background-color: rgb(252, 219, 0);
    border-radius: 50%;
    padding: 1px;
    margin: 0 10px 0 0;
}
.slider__ipad .ipad-display .header__logo .logo-title{    
    font-size: 30px;
    font-family: "PTSans";
    color: rgb(252, 219, 0);
    font-weight: bold;
    line-height: 0.667;
}

.slider-wrap  .circle{ 
    margin: 20px 0 0 0 ;
    
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: center;
     
}
.slider-wrap  .circle .circle__item{
    background-color: rgb(255, 255, 255); 
    opacity: 0.5;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: 8px;
}
.slider-wrap  .circle .circle__item:hover{
    background: lightgray;
}
.slider-wrap  .circle .circle__item.active{    
    background-color: rgb(255, 255, 255); 
    opacity: 1;
}

.slider__content .content-icons{
    margin: 20px 0;
}
.fa {
    font-size: 42px;
    font-family: "FontAwesome";
    color: rgb(1, 1, 1);
    line-height: 0.476;
    margin: 0 20px 0 0 ;
    
  }
/* --------------Features -------------------*/
                    
.features-wrap{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 0 20px 50px 20px;

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}   
.features-wrap .features{
    width: 80%;
    height: auto;  
    margin: 50px 0 50px 0 ;  

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}
.features .features__header{
    /* width: 80%; */
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.features__header .features-title{ 
    
    font-size: 32px;
    font-family: "PTSans";
    color: rgb(1, 1, 1);
    font-weight: bold;
    line-height: 1;
    margin: 10px 0;
        
}
.features__header .features-text{   
   
    font-size: 20px;
    font-family: "PTSans";
    color: rgb(49, 56, 65);
    line-height: 1.2;
    text-align: center;  
}
.features .features__items-block{
    /* width: 80%; */
    display: flex;
    flex-flow:row wrap;
    align-items: flex-start;
    justify-content: center;
}
.features__items-block .features__items{
    display: flex;
    flex-flow:row nowrap;
    align-items: flex-start;
    justify-content: center;
    
    margin: 10px 5px 50px 5px;
}
.features__items .item{
    display: flex;
    flex-flow:column wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 0 10px;
}
.item .item-title{   
    font-size: 22px;
    font-family: "PTSans";
    color: rgb(1, 1, 1);
    line-height: 1.091;
       
    margin: 0 0 10px 0;
}
.item .item-text{
  
    font-size: 16px;
    font-family: "PTSans";
    color: rgb(137, 137, 137);
    line-height: 1.25;
    width: 206px;
   
       
}
/* --------------Subcrible -------------------*/
.subcrible-wrap{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 0 20px 50px 20px;

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}
.subcrible-wrap .subcrible{
    width: 80%;
    height: auto;  
    margin: 50px 0 50px 0 ;  

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}
.subcrible .subcrible__header{
   
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}
.subcrible__header .title{
    
        font-size: 32px;
        font-family: "PTSans";
        color: rgb(252, 219, 0);
        font-weight: bold;
        line-height: 1;
       
}
.subcrible__header .text{
        text-align: center;
        font-size: 20px;
        font-family: "PTSans";
        color: rgb(137, 137, 137);
        line-height: 1.2;
        margin: 20px 0 40px 0;
       
      
}
.subcrible__form{
        width: 100%;
        display: flex;
        flex-flow:row nowrap;
        align-items: center;
        justify-content: center;
}
.subcrible__form input{  
        font-size: 16px;
        font-family: "PTSans";        
        line-height: 1.25;      
        border-radius: 5px;                        
        width: 580px; 
        border: 1px solid black;
        padding: 13px 10px;
        margin: 0 10px 0 0;
}
.subcrible__form input:hover{
    background: lightcyan;
   border: 1px solid blue;
}
.subcrible__form a{
        text-decoration: none;
        font-size: 16px;
        font-family: "PTSans";
        color: rgb(1, 1, 1);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.5;
        text-align: center;
        border-radius: 4px;
        background-color: rgb(252, 219, 0);         
        width: 130px;
        /* height: 54px; */
        padding: 12px 20px;
}
.subcrible__form a:hover{
    background: lightblue;
    border-radius: 5px;
    color: green;
}
.subcrible__form a:active{
    background: lightslategray;
}
 
/* --------------SocialConnect -------------------*/
.socialConnect-wrap{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 0 20px 50px 20px;

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}    
.socialConnect-wrap .socialConnect{
    width: 80%;
    height: auto;  
    margin: 0px 0 50px 0 ;  

    display: flex;
    flex-flow:row wrap;
    align-items: center;
    justify-content: center;    
}    
.socialConnect-wrap .socialConnect img{
    margin: 0 10px;   
}    
.socialConnect-wrap .socialConnect img:hover{
    width: 32px;
    height: 32px;
    transform: rotate(20deg)
}            
                
/* --------------Footer -------------------*/
footer{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 0 20px 50px 20px;

    display: flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
}
footer .footer-wrap{
    width: 80%;
    height: auto;  
    margin: 50px 0 50px 0 ;  

    display: flex;
    flex-flow:row wrap;
    align-items: flex-start;
    justify-content: space-evenly; 
}
footer .footer-column{
    margin: 20px 10px;

    display: flex;
    flex-flow:column nowrap;
    align-items: flex-start;
    justify-content: center;
}
footer .footer-column a{
    text-decoration: none;
    font-size: 16px;
    font-family: "PTSans";
    color: rgb(255, 255, 255);
    line-height: 1.25;     

}
footer .footer-column a:hover{
   color: blue;

}
footer .footer-column.contact{  
    width: 150px;     
}
footer .footer-column.contact p{
    font-size: 16px;
    font-family: "PTSans";
    color: rgb(255, 255, 255);
    line-height: 1.25;    
}
 
/* --------------Medis Request -------------------*/
@media screen and (min-width:1300px ) and ( max-width:1924px){
    header,
    .slider-wrap .slider,
    .features-wrap .features,
    .subcrible-wrap .subcrible,
    .socialConnect-wrap .socialConnect,
    footer .footer-wrap{
        width: 60%;
    }
   
}
@media screen and (min-width:320px ) and ( max-width:800px){
   
    .slider .slider__content{
        width: 100%;
    }
    .slider__content .content-text-first{  
        width: 100%;  
    }
    .slider__content .content-title-second{         
        width: 100%;       
    }
    
}
@media screen and (min-width:320px ) and ( max-width:912px){
    .subcrible__form input{  
        width: 70%;
        margin: 0 0 20px 0;
        min-width: 310px;
    }
    .subcrible__form{
        display: flex;
        flex-flow:column nowrap;
        align-items: center;
        justify-content: center;
    }
    
   
    
}
@media screen and (max-width:800px ){
   
    .header__menu .menu-bar{
        display: flex;
    }
    header .header__menu{ 
        justify-content: flex-end;
    }
    .header-wrap {
        position: fixed;        
        opacity: 0.8;
        padding: 5px 0 ;
    }
    header {
        margin: 0;
        width: 80%;
    }
    .slider-wrap{
        padding: 120px 0 0 0;
    }
    
   
    
}
@media screen and (min-width:800px ){
    .slider .slider__ipad{ 
        display: block;
    } 
    .header__menu .menu-item{
        display: block;
    }
    
    .slider .slider__content{
        width: 50%;
    }
    .slider__content .content-text-first{  
        width: 80%;  
    }
    .slider__content .content-title-second{         
        width: 80%;       
    }
    .bar-menu{
        display: none;
    }
    
}
  